@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hola que tal esta es nuestra zona de contacto<br />
    Plaza paseo 2000<br />
    <abbr title="Phone">P:</abbr>
    664-167-00-77
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">cine-508@dca.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@dca.com</a>
</address>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53834.74934765144!2d-116.85839755929258!3d32.508199175506356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3dbd648f3b8b5b98!2sCin%C3%A9polis%20Paseo%202000%20Tijuana!5e0!3m2!1ses!2smx!4v1605823383610!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>