@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-center">
    <h3 class="text-black-50">CARTELERA</h3>
</div>
<div class="container">

    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://images.pexels.com/photos/228844/pexels-photo-228844.jpeg?cs=srgb&dl=pexels-james-sutton-228844.jpg&fm=jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Terror</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Horario</th>
                                <th>Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Anabelle</td>
                                <td>08:00pm</td>
                                <td class="badge badge-success">1</td>
                            </tr>
                            <tr>
                                <td>IT</td>
                                <td>08:30pm</td>
                                <td class="badge badge-success">2</td>
                            </tr>
                            <tr>
                                <td>Saw</td>
                                <td>09:00pm</td>
                                <td class="badge badge-success">3</td>
                            </tr>                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://images.pexels.com/photos/54098/us-army-soldiers-army-men-54098.jpeg?cs=srgb&dl=pexels-pixabay-54098.jpg&fm=jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acción</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Horario</th>
                                <th>Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1910</td>
                                <td>07:00pm</td>
                                <td class="badge badge-success">1</td>
                            </tr>
                            <tr>
                                <td>Mision de Rescate</td>
                                <td>07:00pm</td>
                                <td class="badge badge-success">2</td>
                            </tr>
                            <tr>
                                <td>Proyecto Géminis</td>
                                <td>07:00pm</td>
                                <td class="badge badge-success">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://images.pexels.com/photos/321552/pexels-photo-321552.jpeg?cs=srgb&dl=pexels-visionpic-net-321552.jpg&fm=jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comedia</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Horario</th>
                                <th>Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Rescatando al soldado Pérez</td>
                                <td>06:00pm</td>
                                <td class="badge badge-success">1</td>
                            </tr>
                            <tr>
                                <td>No manches Frida</td>
                                <td>06:00pm</td>
                                <td class="badge badge-success">2</td>
                            </tr>
                            <tr>
                                <td>Bad Boys</td>
                                <td>06:00pm</td>
                                <td class="badge badge-success">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://images.pexels.com/photos/41068/pexels-photo-41068.jpeg?cs=srgb&dl=pexels-snapwire-41068.jpg&fm=jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Romance</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Horario</th>
                                <th>Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>365 Días</td>
                                <td>04:00pm</td>
                                <td class="badge badge-success">1</td>
                            </tr>
                            <tr>
                                <td>A dos metros de ti</td>
                                <td>04:00pm</td>
                                <td class="badge badge-success">2</td>
                            </tr>
                            <tr>
                                <td>Emma</td>
                                <td>04:00pm</td>
                                <td class="badge badge-success">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>